modules = ["python-3.12", "nodejs-20", "web", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Quick-ID API"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run start"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash backend/start.sh"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Quick-ID API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash quick-id/start.sh"
waitForPort = 8099

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6379
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8099
externalPort = 8099

[deployment]
deploymentTarget = "static"
build = ["bash", "-c", "cd frontend && yarn install && yarn build"]
publicDir = "frontend/build"

[userenv]

[userenv.shared]
JWT_SECRET = "ZA531NRnb-4uaBVfTK5oiWdck4PfTrmXI6GHjydKuR0CISB2mif9vk5A1cQDvlQy"
QUICKID_SERVICE_KEY = "EqAbae8f5Zi9tPTydfFO4PfPWGy7ihGRKTpNbdvvglivjzRvLkpuStzqWJ1Tj_va"
QUICKID_URL = "http://localhost:8099"
ENABLE_QUICKID_DEMO = "true"
AFSADAKAT_ADMIN_TOKEN = "42b91b913f623686d32828696918781893e53a9bf9b49a754709248738889e4c"
CM_KEY_VERSION = "v1"
CORS_ORIGINS = "https://4ea80cc3-9968-43ee-8874-a90d4da6e55f-00-fh9lwt15azcz.sisko.replit.dev,http://localhost:5000,http://localhost:5173"
